@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap');

:root {
	--font-title: 1.125rem;
	--font-body: 0.875rem;
	--font-small: 0.75rem;
	--font-xs: 0.625rem;

	--purple: #883ae1;
	--light-pink: #e6d6fc;
	--light-blue: #e5eaf0;
	--whitesmoke: #fafaf9;
	--white: #fff;
	--navy-blue: #20293a;
	--gray: #6c727f;

	--spacing-16: 16px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Sora', 'Poppins', sans-serif;
	background-color: var(--whitesmoke);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	background-color: var(--white);
	box-shadow: 0px 10px 1px rgba(221, 221, 221, 1),
		0 10px 20px rgba(204, 204, 204, 1);
	border-radius: var(--spacing-16);
}

.card-content {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-16);
}

.card img {
	border-radius: var(--spacing-16);
	object-fit: contain;
}

.card .tags {
	/* color */
	background-color: var(--light-pink);
	color: var(--purple);
	/* sizing */
	font-size: var(--font-xs);
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: var(--spacing-16);
	margin-top: var(--spacing-16);
	/* font */
	font-weight: 600;
	letter-spacing: 0.4px;
}

.card .title {
	font-size: var(--font-title);
	margin-top: var(--spacing-16);
	color: var(--navy-blue);
}

.card .paragraph {
	margin-top: 6px;
	font-size: var(--font-body);
	color: var(--gray);
	width: 32ch;
}

.card .author {
	margin: 20px var(--spacing-16);
	font-size: var(--font-small);
	color: var(--gray);
	font-weight: 500;
}

.card-footer .divider {
	border: 1px solid var(--light-blue);
}
